<hibernate-configuration-Process xmlns:Process="urn:nhibernate-configuration-2.2">
  <Process:session-factory>
    <Process:property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</Process:property>
    <Process:property name="dialect">NHibernate.Dialect.MsSql2008Dialect</Process:property>
    <Process:property name="query.substitutions">hqlFunction=SQLFUNC</Process:property>
    <Process:property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</Process:property>
    <Process:property name="connection.connection_string_name">VssProcessDbConnectionString</Process:property>
    <Process:property name="current_session_context_class">web</Process:property>
    <Process:property name="show_sql">false</Process:property>
  </Process:session-factory>
</hibernate-configuration-Process>

