<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--Utilities-->
  <alias alias="IBundleConfig" type="Volvo.NVS.Utilities.Web.Bundling.IBundleConfig, Volvo.NVS.Utilities.Web" />
  <alias alias="bundleConfig" type="Volvo.NVS.Utilities.Web.Bundling.BundleConfig, Volvo.NVS.Utilities.Web" />
  <alias alias="IBundleCollectionService" type="Volvo.NVS.Utilities.Web.Bundling.IBundleCollectionService, Volvo.NVS.Utilities.Web" />
  <alias alias="bundleCollectionService" type="Volvo.MaintenanceTool.UserInterface.Bundling.AppBundleCollectionService, UserInterface" />
  <alias alias="ILocalizationHelper" type="Volvo.NVS.Utilities.Web.Localization.ILocalizationHelper, Volvo.NVS.Utilities.Web" />
  <alias alias="localizationHelper" type="Volvo.NVS.Utilities.Web.Localization.LocalizationHelper, Volvo.NVS.Utilities.Web" />
  <alias alias="IUserService" type="Volvo.VSSMaintenance.UserDomain.ServiceLayer,UserDomain.Services" />
  <alias alias="UserService" type="Volvo.VSSMaintenance.UserDomain.DomainLayer,UserDomain.Services" />
  <!--/Utilities-->
  <!--<alias alias="IProcessService" type="Volvo.VSS.ProcessDomain.ServiceLayer,ProcessDomain.Services" />
  <alias alias="ProcessService" type="Volvo.VSS.ProcessDomain.DomainLayer,ProcessDomain.Services" />
  <alias alias="ILogService" type="Volvo.VSS.LogDomain.ServiceLayer,LogDomain.Services" />
  <alias alias="LogService" type="Volvo.VSS.LogDomain.DomainLayer,LogDomain.Services" />-->
  <!--<alias alias="IProcessService" type="Volvo.VSS.LogDomain.ServiceLayer.IProcessService, Volvo.VSS.LogDomain.Services" />
  <alias alias="ProcessService" type="Volvo.VSS.LogDomain.DomainLayer.ProcessService, Volvo.VSS.LogDomain.Services" />
  <alias alias="IProcessInstanceRepository" type="Volvo.VSS.LogDomain.DomainLayer.RepositoryInterfaces.IProcessInstanceRepository,Volvo.VSS.LogDomain.DomainLayer" />
  <alias alias="ProcessInstanceRepository" type="Volvo.VSS.LogDomain.InfrastructureLayer.Repositories.ProcessInstanceRepository,Volvo.VSS.LogDomain.InfrastructureLayer" />-->


  <!--AutoMapper-->
  <alias alias="Profile" type="AutoMapper.Profile, AutoMapper" />
  <!--/AutoMapper-->
   
  <container>
    <!--Utilities-->
    <!--<register type="IUserService" mapTo="UserService" />-->
    <!--<register type="IProcessService" mapTo="ProcessService" />
    <register type="ILogService" mapTo="LogService" />-->
    <!--<register type="IProcessInstanceRepositor" mapTo="ProcessInstanceRepositor" />-->


    <register type="IBundleConfig" mapTo="bundleConfig" />
      <register type="IBundleCollectionService" mapTo="bundleCollectionService" />
      <register type="ILocalizationHelper" mapTo="localizationHelper" >
        <lifetime type="singleton"/>
      </register>
  </container>
</unity>
