
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <Div>
        <h3 class="danger">Unauthorised access.</h3>
    </Div>
</body>
</html>
