body {
}

.divheading {
    background-color: deepskyblue;
    color: black;
    padding: 20px;
}

div.tblStructure > div > div {
    border-style: solid;
    border-color: #164c4a;
    border-width: 1px;
}

.navbar-nav > li > a {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.navbar {
    min-height: 32px !important;
}

.navbar-brand {
    padding-top: 7px !important;
    max-height: 24px;
}

.navbar .navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 9px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #000f60 !important;
    border-top-color: #000f60 !important;
    color: #fff;
    opacity: 0.65;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    /*background-color: #000f60 !important;*/
    color: #fff !important;
}

.navbar-inverse .navbar-nav > .active {
    border-top-color: #000f60 !important;
}

.nav a {
    font-size: 0.75em !important;
    font-weight: bold;
}

.nav > li a {
    /*background-color: #000f60 !important;
            color: #fff !important;*/
    border-top: 2px solid rgba(215, 214, 212, 1) !important;
}

.dropdown-menu {
    padding-top: 0px;
}

.nav > li a:hover {
    /*background-color: #000f60 !important;
            color: #fff !important;*/
    border-top: 2px solid #000f60 !important;
}

.navbar-login {
    width: 150px;
    padding: 5px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 30px;
}

p {
    margin: 0 0 4px !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.page-header {
    border-bottom: none;
}

.navbar {
    border: none !important;
    border-radius: 0px !important;
    margin-bottom:10px;
}

.k-filter-row th, .k-grid-header th.k-header {
    text-align: left !important;
}

.k-widget.k-grid table thead tr th:hover {
    background-color: #2a2a2a !important;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.preloader {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .preloader {
    display: block;
}

.k-widget.k-calendar .k-today {
    background-color: #27408B !important;
    opacity: 0.7 !important;
    filter: alpha(opacity=50) !important;
}

.k-widget.k-calendar .k-state-selected {
    background-color: #000f60 !important;
}

.k-picker-wrap.k-state-hover {
    background-image: none !important;
}

.modal-ku {
    width: 750px;
    margin: auto;
}
ul.breadcrumb {
    background-color: #000f60 !important;
    opacity: .65 !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-top: 23px !important;
    margin-bottom: 7px !important;
    margin-right: 15px !important;
}
    ul.breadcrumb li {
        color: #fff !important;
    }