body {
}

* {
    color: inherit;
}

.jumbotron {
    margin-bottom: 10px;
}

container-fluid {
    font-family: "Arial", sans-serif;
}

.form-control {
    padding: 3px 6px;
    height: 26px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    border-radius: 0px;
    box-shadow: none;
}

    .form-control:hover {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24),0 4px 6px 0 rgba(0,0,0,0.19);
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #a9a9a9;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24),0 4px 6px 0 rgba(0,0,0,0.19);
    }

.row {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.k-grid td {
    padding: 4px 2px;
    line-height: 1.11;
}

.k-filter-row th, .k-grid-header th.k-header {
    font-weight: bold;
    text-align: center;
    background-color: #2a2a2a;
    color: #fff;
}

.k-state-selected.k-draghandle:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-state-selected.k-today, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    background-color: #000f60;
    border-color: #000f60;
    color: #fff !important;
}

    .k-state-selected:hover {
        background-color: #27408B !important;
        border-color: #27408B !important;
    }

    .k-state-selected:matches(:hover) {
        background-color: #27408B !important;
        border-color: #27408B !important;
    }

.k-grid-header .k-header > .k-link, .k-header, .k-treemap-title {
    color: #fff;
}

.btn-primary:hover {
    background-color: #000f60;
    border-color: #000f60;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24),0 6px 10px 0 rgba(0,0,0,0.19);
}

.btn-primary {
    background-color: #5971AD;
    border-color: #5971AD;
    color: #e4e4e4;    
}

.btn-primary:active {
    background-color: #3e8e41;
    box-shadow: 0 0px #666;
    transform: translateY(1px);
}

[disabled].btn-primary:active {
    background-color: #5971AD;
    border-color: #5971AD;
    color: #e4e4e4;
    box-shadow: none;
    transform: none;
}

.btn-primary {
    padding: 3px 12px;
    border-radius: 0px;
    box-shadow: none;
}
.disabled.btn-primary:hover, [disabled].btn-primary:hover, fieldset[disabled] .btn-primary:hover, .disabled.btn-primary:focus, [disabled].btn-primary:focus, fieldset[disabled] .btn-primary:focus, .focus.disabled.btn-primary, [disabled].focus.btn-primary, fieldset[disabled] .focus.btn-primary {
    opacity: 0.65;
    box-shadow: none;
    background-color: #5971AD;
    border-color: #5971AD;
    color: #e4e4e4;
}
.k-filter-row th, .k-grid-header th.k-header {
    padding: 0.25em .6em .4em .6em;
}

.k-grid .k-state-selected:hover {
    background-color: #5971AD !important;
    color: #e4e4e4;
}

.k-grid .k-alt.k-state-selected:hover {
    background-color: #5971AD !important;
    color: #e4e4e4;
}

.k-grid.k-widget table tbody tr:hover td {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
}

.k-grid.k-widget .k-pager-numbers .k-state-selected {
    background-color: #5971AD !important;
    color: inherit;
    border-color: #5971AD !important;
}

    .k-grid.k-widget .k-pager-numbers .k-state-selected:hover {
        background-color: #000f60 !important;
        color: inherit;
        border-color: #000f60 !important;
    }
.ajax-loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height: 300px;
}

.ajax-loader img {
    position: relative;
    top: 50%;
    left: 50%;
}
