@{
    ViewBag.Title = "About";
}

<h2 class="nvs">About the NVS web template.</h2>

@(Html.Kendo().PanelBar()
      .Name("PanelBar")
      .HtmlAttributes(new {@class = "nvs-collapsible-panel"})
      .Items(panelbar =>
          {
              panelbar.Add().Text("About")
                      .Expanded(true)
                      .Content(@<text>
                                      <p>  NVS web template uses Volvo.Nvs.Utilities.Web library which inturn fetches all the required dependencies for a web application to work.<br />
   <br/>
     
    This template provides below basic features</p>
    <ul>
        <li>Menu</li>
        <li>Kendo UI content and references</li>
        <li>Logging</li>
        <li>Exception Handling</li>
        <li>Error Handling</li>
        <li>Unity Configuration</li>
        <li>Automapper configuration </li>
    </ul>
    
    <br/>
    <p>
    If you find any bugs or have questions please send email to <a href="mailto:support.dotnet@volvo.com">support.dotnet@volvo.com</a>
</p>
                                    <hr class="nvs"/>
                                </text>);
          })
      )
